/*por si el navegador no lo sabe, le decimos que todas estas etiquetas son de tipo BLOCK*/
div, section, article, header, footer, nav, aside{
	display:block;
}

/*Reseteo el margin y relleno de TODAS las etiquetas*/
*{
	margin:0px;
	padding:0px;
}

/*Centramos el contenido en el navegador*/
body{
	text-align: center;
}

#wrapper{
	text-align:left;
	margin: 0px auto;
	width: 800px; /*anchura de mi web*/
}

/*Establezco estilos para el encabezado*/
#wrapper header{
	background-color: #B5FDE6;
	min-height: 100px;
}

/*Establezco estilos para mi parte central*/
#wrapper section#central{
	background-color: #79E89D;
	min-height: 400px;
	font-size: 0px;
	direction: rtl;/*Nos permite, cambiar el orden de bloques*/
}

/*Haciendo las 2 columnas con INLINE-BLOCK*/
/*Haciendo las 2 columnas con INLINE-BLOCK*/
#wrapper section#central nav{
	width:200px;
	min-height:400px;
	background-color: #B8FEF3;
	display:inline-block;
	font-size: 20px;
	vertical-align: top;
	direction: ltr;
}

#wrapper section#central div#contenido{
	width:600px;
	min-height:400px;
	background-color: #D9FDEB;
	display:inline-block;
	font-size: 20px;
	vertical-align: top;
}
/*Fin de hacer columnas con INLINE-BLOCK*/
/*Fin de hacer columnas con INLINE-BLOCK*/

/*Establezco estilos para mi pie de pagina*/
#wrapper footer{
	background-color: #ADFAC6;
	min-height: 100px;
}

.activa{
	background-color: red;
}
